/* *{
    margin-left: 40px;
    margin-right:  40px;
} */
button{
    background-color: #FF5400;
    color: #FFF;
}
span{
    color: #FF5400;
}
nav{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
}
h2{
    font-size: 25px;
}
.logo{
    display: flex;
    gap:8px;
}

img{
    height: 35px;
    padding-top: 20px;
}
ul{
    padding: 9px;
    display: flex;
    gap: 20px;
    font-size: 18px;
}
a{
    text-decoration: none;
    color:#424247;
}

.headerr{
    background-image: url('./Images/Group_13.png'); 
    background-repeat: no-repeat;
    border-radius: 15px;
    width:auto;
    height: 500px;
    margin-left: 150px;
    margin-right: 150px;
    
}

.headerrr{
    background-color: rgba(0, 0, 0, 0.262);
    width:auto;
    height: 500px;
    border-radius: 15px;
    text-align: center;
    
}
.headd{
    padding: 150px;
    padding-top: 70px;
}
.headd h1{
    font-size: 64px;
    color: #FFF;
}
.headd p{
    font-size: 18px;
    color: #FFF;
}
.headdd{
    background-color: rgba(255, 255, 255, 0.323);
    height: 80px;
    padding-top: 30px;
    border-radius: 15px;
}
.headdd input, select {
    background-color: #FFF;
    color:rgba(19, 19, 24, 0.50);
    width: 174px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;

}
.headdd button{
    width: 150px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
}



.Popular{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    
    justify-content: space-between;
    
}
.Popu{
    height: 350px;
}
.Popular h1{
    font-size: 30px;
}
.Popular p ,li{
    font-size: 15px;
}
.Popular ul{
    display: flex;
    flex-direction: column;
    gap:4px;
}

.Popular img{
    height: 400px;
}
.Popular button{
    width: 150px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    
}











@media screen and (max-width:600px) {
    .headerr{
        height: 480px;
    }
    .headerrr{
        height: 480px;
    }

    .headd{
        padding: 10px;
    }
    .headdd{
        background-color: rgba(255, 255, 255, 0.323);
        border-radius: 15px;
    }
    .headd h1{
        font-size: 22px;
        
    }
    .headd p{
        font-size: 14px;
       
    }
    .headdd{
        display: flex;
        flex-direction: column;
        gap:20px;
        background-color: rgba(255, 255, 255, 0.323);
        height: 250px;
        padding: 30px;
        border-radius: 15px;
    }

    .Popular{
        flex-direction: column;
        gap: 150px;
              
    }
    .Popular img{
        height: 300px;
    }

}

@media screen and (min-width:992px){
    .headerr{
        height: 500px;
    }
    .headerrr{
        height: 500px;
    }
    .headd{
        padding: 50px;
        
    }
    .headdd input, select{
       
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        padding-left: 8px;
        padding-right: 8px;
    
    }
}